doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(rel="stylesheet", href="/styles/main.css")
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")

	body
		.container.container-fluid.center
			block content
		