body {
	font-family: Helvetica;
}

/* Helper Classes */

.center {
	margin: 0 auto;
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.inline {
	display: inline;
}

/* Custom */

.sorry {
	color: red;
}