body {
	font-family: Helvetica;
}

/* Helper Classes */

.center {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.inline {
	display: inline;
}

/* Tags */


/* Custom */

.sorry {
	color: red;
}

/*#inlinebutton {
	display: inline-block;
	margin-left: 10px;
}*/